a.article-card, .article-card {
    position: relative;
    display: block;
    transition: all var(--animation-speed) ease-in-out;

    .image {
        position: relative;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all var(--animation-speed) ease-in-out;
        }
    }
    .content_box{
        position: relative;
        flex: 1 1 50%;
        padding-bottom: 0.75rem;
        display: flex;
        flex-direction: column;
        
        .date{
            position: relative;
            margin-bottom: 0.75rem;
        }
        .title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 0.5em;
            font-family: var(--font-family-one);
        }

        .preview {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
            overflow: hidden;
        }

        .tags {
            margin-bottom: 0.5em;
        }

    }

    &.image-left {
        display: flex;

        .image {
            flex: 1 1 20%;
            aspect-ratio: 1/1;
        }

        .content_box {
            flex: 1 1 80%;
        }
    }

    &.image-top {
        display: flex;
        flex-direction: column;

        .image {
            img {
                aspect-ratio: 2/1;
            }
        }

        .content_box {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }

    &.profile-card {
        .image {
            padding: 2rem;
            text-align: center;
            margin: 0 auto;
            flex: 1 0 auto;

            img {
                border-radius: 100%;
                aspect-ratio: 1/1;
                width: 220px;
                height: auto;
            }
        }

        .content_box {
            flex: 1 1 auto;
        }
    }

    &.bg-white {
        color: var(--color-dark) !important;

        .content_box {
            padding: 1.5rem;
        }
    }

    .categories{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 95%;
        padding: var(--padding-xs) var(--padding-md);
        background: var(--primary-color-two);
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 26px;
        font-family: var(--font-family-one);
        transition: var(--animation-speed) ease-in-out;
        -moz-transition: var(--animation-speed) ease-in-out;
        -o-transition: var(--animation-speed) ease-in-out;
        -ms-transition: var(--animation-speed) ease-in-out;
        i{
            margin-right: 6px;
            font-size: 14px;
        }
    }

    .tags {
        font-size: 0.8rem;

        &:before {
            content: '';
            display: inline-block;
            height: 6px;
            width: 6px;
            margin-right: 6px;
            margin-bottom: 2px;
            background: var(--primary-color-three);
        }
    }

    a {
        &:hover {
            color: inherit;
        }
    }
}

a.article-card:hover {
    color: inherit;
    .title {
        color: var(--primary-color-three);
    }

    .read_more {
        color: var(--primary-color-three);
        i {
            margin-left: 8px;
            transition: all var(--animation-speed) ease;
            -moz-transition: all var(--animation-speed) ease;
            -ms-transition: all var(--animation-speed) ease;
            -o-transition: all var(--animation-speed) ease;
        }
    }
}

.bg-one, .bg-two, .bg-dark {
    a.article-card, {
        &:hover {
            .title {
                color: var(--primary-color-four);
            }
            .read_more {
                color: var(--primary-color-four);
            }
        }
    }
}

.article-card:not(.static) {
    &:hover {
        transform: translateY(-5px);
        // box-shadow:  0 4px 0 var(--highlight-color-alt);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

