:root{
    --font-family-one: 'DM Sans', sans-serif!important;
    --font-family-two: 'Lora', serif!important;
    --primary-color-one: #00163D; 
    --primary-color-two: #001F54; 
    --primary-color-three: #00518F; 
    --primary-color-four: #FEFCFB;
    --primary-color-five: #1f2530;
    --highlight-color: #06d6a0; 
    --highlight-color-alt: #077d73; 
    --color-light: #EFF2FB;
    --color-dark: #0A1128;
    --color-white: #ffffff;
    --text-color-dark: #0A1128;
    --text-color-dark-two: #888888;
    --text-color-light: #EFF2FB;
    --heading-dark: #28343E;
    --link-color-dark: #282f3b;
    --border-color-dark: #e4e7ee; 
    --border-color-dark-two:#373e4a;
    --border-color-light: #fbfcfe;
    --menu-color: #28343E;
    --menu-color-white: #ffffff;
    --menu-dropdown-color: #282f3b;
    --menu-active-color: #00457A; 
    --box-shadow: 0px 0px 40px 0px rgba(0,0,0,.09);
    --box-shadow-two: 0px 3px 16px 0px rgba(0 , 0 , 0 , .05);
    --footer-default-bgcolor: #1f2530;
    --preloader-background-color: #078586;
    --bg-light-color-one:#F0F3F947;
    --bg-light-color-two:#F0F3F969;
    --animation-speed: 250ms;
    --border-radius-lg: 1rem;
    --border-radius-sm: 0.5rem;
    --border-radius-full: 1000px;
    --padding-xs: 0.25rem;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;
    --padding-xl: 3rem;
} 
 
.color_white{
    color: #fff!important;
}
.color_dark{
    color: var(--heading-dark)!important;
}
/*--================bg light colors ====================--*/
.bg_light_1{
    background:var(--primary-color-three)!important;
}
.bg_light_2{
    background:var(--bg-light-color-one)!important;
}
.bg_light_3{
    background:var(--bg-light-color-two)!important;
}
/*--================bg light colors ====================--*/
/*--================bg dark colors ====================--*/
.bg_dark_1{
    background:var(--primary-color-one)!important;
}
.bg_dark_2{
    background:var(--primary-color-two)!important;
}
.bg_dark_3{
    background:var(--primary-color-five)!important;
}
/*--================bg dark colors ====================--*/
/*--================divider colors ====================--*/
.divider_1{
    border-bottom: 1px solid var(--border-color-dark);
}

.divider_2{
    border-bottom: 1px dashed var(--border-color-dark);
}

.divider_w_1{
    border-bottom: 1px solid rgba(255 , 255 , 255 , .1);
}
/*--================divider colors ====================--*/
/*--================border colors ====================--*/
.border_l{
    border-left: 1px solid var(--border-color-dark);
}
.border_r{
    border-right: 1px solid var(--border-color-dark);
}
.border_t{
    border-top: 1px solid var(--border-color-dark);
}
.border_b{
    border-bottom: 1px solid var(--border-color-dark);
}

.border_light_color{
    border: 1px solid #FFFFFF1F;
}

.border_l_0{
    border-left: 0px!important;
}
.border_r_0{
    border-right: 0px!important;
}
.border_t_0{
    border-top: 0px!important;
}
.border_b_0{
    border-bottom: 0px!important;
}
/*--================border colors ====================--*/

/*--================box shadows ======================--*/
.box_shadow_2{
    box-shadow: var(--box-shadow-two);
}
/*--================box shadows ======================--*/