:root{
    --font-family-one: 'Inter', sans-serif!important;
    --font-family-two: 'Playfair Display', serif!important;
    --primary-color-one: #002752; 
    --primary-color-two: #003566; 
    --primary-color-three: #0B6291; 
    --primary-color-four: #98e5cf;
    --primary-color-five: #1f2530;
    --highlight-color: #06d6a0; 
    --highlight-color-alt: #06d6a080; 
    --color-light: #EFF2FB;
    --color-medium: #dbe5f9;
    --color-dark: #000814;
    --color-white: #ffffff;
    --text-color-dark: #000814;
    --text-color-dark-two: #888888;
    --text-color-light: #EFF2FB;
    --heading-dark: #28343E;
    --link-color-dark: #282f3b;
    --border-color-dark: #e4e7ee; 
    --border-color-dark-two:#373e4a;
    --border-color-light: #fbfcfe;
    --menu-color: #28343E;
    --menu-color-white: #ffffff;
    --menu-dropdown-color: #282f3b;
    --menu-active-color: #00457A; 
    --box-shadow: 0px 0px 40px 0px rgba(0,0,0,.15);
    --box-shadow-two: 0px 3px 16px 0px rgba(0 , 0 , 0 , .05);
    --footer-default-bgcolor: #1f2530;
    --preloader-background-color: #078586;
    --bg-light-color-one:#F0F3F947;
    --bg-light-color-two:#F0F3F969;
    --animation-speed: 250ms;
    --border-radius-lg: 1rem;
    --border-radius-sm: 0.5rem;
    --border-radius-full: 1000px;
    --padding-xs: 0.25rem;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;
    --padding-xl: 3rem;
} 
